## NCSS Evaluation

In [10]:
import pandas as pd

data_file = './og.csv'
df = pd.read_csv(data_file)
df

,labsampnum,pedlabsampnum,hzn_top,hzn_bot,observation_date,latitude_std_decimal_degrees,longitude_std_decimal_degrees,total_carbon_ncs,total_nitrogen_ncs,phosphorus_bray1,...,manganese_ammonium_oxalate,manganese_dithionite_citrate,manganese_kcl_extractable,manganese_major_element,manganese_trace_element,molybdenum_trace_element,zinc_trace_element,cec7_clay_ratio,cec_nh4_ph_7,ph_cacl2
0,00P00001,00P0001,0.0,5.0,36348.0,40.768703,-73.979195,6.87,0.282,123.0,...,106.0,0.011,1.13,358.0,228.77,NaN,116.08,1.57,13.5,4.5
1,00P00002,00P0001,5.0,12.0,36348.0,40.768703,-73.979195,2.62,0.113,NaN,...,116.0,0.014,0.33,332.0,283.61,NaN,89.84,0.78,7.3,4.2
2,00P00003,00P0001,12.0,27.0,36348.0,40.768703,-73.979195,2.00,0.090,NaN,...,84.0,0.010,0.00,326.0,250.33,NaN,80.31,0.45,4.4,4.0
3,00P00004,00P0001,27.0,64.0,36348.0,40.768703,-73.979195,0.86,0.059,NaN,...,85.0,0.011,0.33,336.0,234.18,NaN,82.05,0.51,5.0,4.1
4,00P00005,00P0001,64.0,86.0,36348.0,40.768703,-73.979195,0.22,0.013,NaN,...,138.0,0.020,0.34,413.0,325.73,NaN,86.56,0.37,3.7,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32578,21N00330,21N0073,0.0,5.0,43972.0,45.507717,-99.242149,4.71,0.457,8.7,...,NaN,NaN,NaN,788.0,855.92,0.85,80.57,NaN,26.7,5.6
32579,21N00331,21N0073,5.0,15.0,43972.0,45.507717,-99.242149,2.84,0.291,2.2,...,NaN,NaN,NaN,922.0,944.48,0.78,75.29,NaN,27.5,5.9
32580,21N00332,21N0073,15.0,28.0,43972.0,45.507717,-99.242149,1.55,0.156,1.3,...,NaN,NaN,NaN,662.0,671.55,0.68,65.40,NaN,25.3,7.0
32581,21N00333,21N0073,28.0,92.0,43972.0,45.507717,-99.242149,2.78,0.072,0.0,...,NaN,NaN,NaN,605.0,634.80,0.67,55.04,NaN,15.1,7.9
32582,21N00334,21N0073,92.0,150.0,43972.0,45.507717,-99.242149,2.01,0.031,0.9,...,NaN,NaN,NaN,623.0,696.68,1.10,66.71,NaN,19.9,8.4

Data with no date, latitude or longitude is removed

In [11]:
df = df.dropna(subset=['observation_date', 'latitude_std_decimal_degrees', 'longitude_std_decimal_degrees'])
df

,labsampnum,pedlabsampnum,hzn_top,hzn_bot,observation_date,latitude_std_decimal_degrees,longitude_std_decimal_degrees,total_carbon_ncs,total_nitrogen_ncs,phosphorus_bray1,...,manganese_ammonium_oxalate,manganese_dithionite_citrate,manganese_kcl_extractable,manganese_major_element,manganese_trace_element,molybdenum_trace_element,zinc_trace_element,cec7_clay_ratio,cec_nh4_ph_7,ph_cacl2
0,00P00001,00P0001,0.0,5.0,36348.0,40.768703,-73.979195,6.87,0.282,123.0,...,106.0,0.011,1.13,358.0,228.77,NaN,116.08,1.57,13.5,4.5
1,00P00002,00P0001,5.0,12.0,36348.0,40.768703,-73.979195,2.62,0.113,NaN,...,116.0,0.014,0.33,332.0,283.61,NaN,89.84,0.78,7.3,4.2
2,00P00003,00P0001,12.0,27.0,36348.0,40.768703,-73.979195,2.00,0.090,NaN,...,84.0,0.010,0.00,326.0,250.33,NaN,80.31,0.45,4.4,4.0
3,00P00004,00P0001,27.0,64.0,36348.0,40.768703,-73.979195,0.86,0.059,NaN,...,85.0,0.011,0.33,336.0,234.18,NaN,82.05,0.51,5.0,4.1
4,00P00005,00P0001,64.0,86.0,36348.0,40.768703,-73.979195,0.22,0.013,NaN,...,138.0,0.020,0.34,413.0,325.73,NaN,86.56,0.37,3.7,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32578,21N00330,21N0073,0.0,5.0,43972.0,45.507717,-99.242149,4.71,0.457,8.7,...,NaN,NaN,NaN,788.0,855.92,0.85,80.57,NaN,26.7,5.6
32579,21N00331,21N0073,5.0,15.0,43972.0,45.507717,-99.242149,2.84,0.291,2.2,...,NaN,NaN,NaN,922.0,944.48,0.78,75.29,NaN,27.5,5.9
32580,21N00332,21N0073,15.0,28.0,43972.0,45.507717,-99.242149,1.55,0.156,1.3,...,NaN,NaN,NaN,662.0,671.55,0.68,65.40,NaN,25.3,7.0
32581,21N00333,21N0073,28.0,92.0,43972.0,45.507717,-99.242149,2.78,0.072,0.0,...,NaN,NaN,NaN,605.0,634.80,0.67,55.04,NaN,15.1,7.9
32582,21N00334,21N0073,92.0,150.0,43972.0,45.507717,-99.242149,2.01,0.031,0.9,...,NaN,NaN,NaN,623.0,696.68,1.10,66.71,NaN,19.9,8.4

Data with 50% of depth interval deeper than 30 cm is removed.

Keeps the upper analysis

In [12]:
df = df.dropna(how='all', subset=['hzn_top', 'hzn_bot'])
# Filter rows where more than 50% of the depth interval is below 30
df = df[(30 - df['hzn_top']) / (df['hzn_bot'] - df['hzn_top']) >= 0.5]
# Drop duplicates based on 'pedlabsampnum' keeping the one with the lowest 'hzn_top'
df = df.sort_values(by='hzn_top').drop_duplicates(subset='pedlabsampnum', keep='first')
df

,labsampnum,pedlabsampnum,hzn_top,hzn_bot,observation_date,latitude_std_decimal_degrees,longitude_std_decimal_degrees,total_carbon_ncs,total_nitrogen_ncs,phosphorus_bray1,...,manganese_ammonium_oxalate,manganese_dithionite_citrate,manganese_kcl_extractable,manganese_major_element,manganese_trace_element,molybdenum_trace_element,zinc_trace_element,cec7_clay_ratio,cec_nh4_ph_7,ph_cacl2
0,00P00001,00P0001,0.0,5.0,36348.0,40.768703,-73.979195,6.87,0.282,123.0,...,106.000,0.011,1.13,358.0,228.77,NaN,116.08,1.57,13.5,4.5
14245,91P01659,91P0275,0.0,25.0,32843.0,22.032131,-159.740814,NaN,0.126,NaN,...,4337.398,0.517,NaN,NaN,NaN,NaN,NaN,0.27,16.6,5.3
25249,08N03939,08N0643,0.0,3.0,39629.0,47.526360,-116.516609,11.11,0.796,10.2,...,NaN,NaN,NaN,5347.0,4529.73,0.93,1945.65,NaN,NaN,NaN
14240,91P01654,91P0274,0.0,15.0,32843.0,22.122675,-159.320541,NaN,0.127,NaN,...,19.300,0.010,0.05,NaN,NaN,NaN,NaN,1.13,16.3,4.7
14237,91P01651,91P0273,0.0,18.0,32843.0,21.881857,-159.434708,NaN,0.188,NaN,...,6517.398,0.564,NaN,NaN,NaN,NaN,NaN,0.63,31.1,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15118,91P06085,91P0969,25.0,32.0,33420.0,64.850945,-147.836639,3.00,NaN,8.0,...,0.010,0.005,3.01,NaN,NaN,NaN,NaN,1.50,20.7,4.8
8251,87P00225,87P0041,25.0,33.0,31594.0,35.527260,-109.882904,NaN,0.035,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.83,7.2,7.7
7631,86P01994,86P0337,25.0,33.0,31503.0,48.291531,-116.542725,NaN,0.169,NaN,...,200.000,0.049,NaN,NaN,NaN,NaN,NaN,2.24,17.7,6.0
4006,83P00213,83P0047,26.0,34.0,29952.0,46.271942,-88.803391,NaN,0.092,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,NaN,4.04,10.1,4.2
13605,90P06511,90P1059,26.0,32.0,32905.0,46.619164,-88.932007,NaN,NaN,NaN,...,38.300,0.005,NaN,NaN,NaN,NaN,NaN,1.04,2.5,4.7

Convert to ppm, converge with average and rename

In [13]:
# Features that need gravimetric to ppm convertion
gravimetric_features = (
    'total_carbon_ncs',
    'total_nitrogen_ncs',
    'total_sulfur_ncs',
    'fe_ammoniumoxalate_extractable',
    'iron_sodium_pyro_phosphate',
    'manganese_dithionite_citrate'
    )

# Features that need meq/100g to ppm convertion
meq_per_100_features = {
    'k_nh4_ph_7': 39.0,
    'ca_nh4_ph_7': 40.08,
    'mg_nh4_ph_7': 24.305
}

# Applying convertions according to README.md file
# Convert all features in gravimetric percentage
for feature in gravimetric_features:
    df[feature] = df[feature].apply(lambda x: round(x * 10**4, 3))
# Convert all features in meq/100g
for feature in meq_per_100_features:
    df[feature] = df[feature].apply(lambda x: round(x * 10 * meq_per_100_features[feature], 3))

# Compute average between features that tell the same info. nan values are removed from equation
df['P'] = df[['phosphorus_bray1', 'phosphorus_bray2', 'phosphorus_major_element', 'phosphorus_trace_element']].mean(axis=1)
df['K'] = df[['k_nh4_ph_7', 'potassium_major_element']].mean(axis=1).round(3)
df['Ca'] = df[['ca_nh4_ph_7', 'calcium_major_element']].mean(axis=1).round(3)
df['Mg'] = df[['mg_nh4_ph_7', 'magnesium_major_element']].mean(axis=1).round(3)
df['Fe'] = df[['fe_ammoniumoxalate_extractable', 'iron_sodium_pyro_phosphate', 'iron_major_element']].mean(axis=1).round(3)
df['Mn'] = df[['manganese_ammonium_oxalate', 'manganese_dithionite_citrate', 'manganese_kcl_extractable', 'manganese_major_element', 'manganese_trace_element']].mean(axis=1).round(3)

# Renaming
df = df.rename(columns={
    'observation_date': 'date',
    'latitude_std_decimal_degrees': 'latitude',
    'longitude_std_decimal_degrees': 'longitude',
    'total_carbon_ncs': 'C',
    'total_nitrogen_ncs': 'N',
    'total_sulfur_ncs': 'S',
    'copper_trace_element': 'Cu',
    'molybdenum_trace_element': 'Mo',
    'zinc_trace_element': 'Zn'
})

df = df[[
    'labsampnum', 'pedlabsampnum', 'date',
    'latitude', 'longitude',
    'C', 'N', 'P', 'K', 'Ca', 'Mg', 'S', 'Cu', 'Fe', 'Mn', 'Mo', 'Zn'
    ]]
df

,labsampnum,pedlabsampnum,date,latitude,longitude,C,N,P,K,Ca,Mg,S,Cu,Fe,Mn,Mo,Zn
0,00P00001,00P0001,36348.0,40.768703,-73.979195,68700.0,2820.0,761.583333,5364.9,2366.740,1904.316,1000.0,70.88,14573.0,160.780,NaN,116.08
14245,91P01659,91P0275,32843.0,22.032131,-159.740814,NaN,1260.0,NaN,0.0,3046.080,685.401,300.0,NaN,4400.0,4753.699,NaN,NaN
25249,08N03939,08N0643,39629.0,47.526360,-116.516609,111100.0,7960.0,768.666667,15559.0,3952.000,5165.000,100.0,68.19,59037.0,4938.365,0.93,1945.65
14240,91P01654,91P0274,32843.0,22.122675,-159.320541,NaN,1270.0,NaN,50.7,1138.272,267.355,600.0,NaN,4800.0,39.783,NaN,NaN
14237,91P01651,91P0273,32843.0,21.881857,-159.434708,NaN,1880.0,NaN,97.5,4737.456,2019.746,400.0,NaN,22800.0,6078.699,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15118,91P06085,91P0969,33420.0,64.850945,-147.836639,30000.0,NaN,8.000000,78.0,3266.520,996.505,100.0,NaN,5550.0,17.673,NaN,NaN
8251,87P00225,87P0041,31594.0,35.527260,-109.882904,NaN,350.0,NaN,120.9,13743.432,342.700,NaN,NaN,NaN,NaN,NaN,NaN
7631,86P01994,86P0337,31503.0,48.291531,-116.542725,NaN,1690.0,NaN,66.3,4404.792,260.064,NaN,NaN,1300.0,345.000,NaN,NaN
4006,83P00213,83P0047,29952.0,46.271942,-88.803391,NaN,920.0,NaN,54.6,96.192,29.166,NaN,NaN,7950.0,0.000,NaN,NaN
13605,90P06511,90P1059,32905.0,46.619164,-88.932007,NaN,NaN,NaN,0.0,240.480,29.166,NaN,NaN,800.0,44.150,NaN,NaN

Count missing values per nutrient

In [14]:
nutrients = ['C', 'N', 'P', 'K', 'Ca', 'Mg', 'S', 'Cu', 'Fe', 'Mn', 'Mo', 'Zn']
# Calculate missing value count per feature
missing_count_per_feature = df[nutrients].isnull().sum()
# Calculate missing value percentage per feature
missing_percentage_per_feature = round((missing_count_per_feature / len(df)) * 100, 2)
# Create a DataFrame to display the results
pd.DataFrame({
    'Missing Count': missing_count_per_feature,
    'Missing Percentage': missing_percentage_per_feature
})

    Missing Count  Missing Percentage
C            3057               59.93
N            1301               25.50
P            3335               65.38
K              24                0.47
Ca             27                0.53
Mg             24                0.47
S            3719               72.91
Cu           3928               77.00
Fe           2567               50.32
Mn           1645               32.25
Mo           4281               83.92
Zn           4026               78.93

Drop rows with no nutrient values

In [15]:
df = df.dropna(how='all', subset=nutrients)
df

,labsampnum,pedlabsampnum,date,latitude,longitude,C,N,P,K,Ca,Mg,S,Cu,Fe,Mn,Mo,Zn
0,00P00001,00P0001,36348.0,40.768703,-73.979195,68700.0,2820.0,761.583333,5364.9,2366.740,1904.316,1000.0,70.88,14573.0,160.780,NaN,116.08
14245,91P01659,91P0275,32843.0,22.032131,-159.740814,NaN,1260.0,NaN,0.0,3046.080,685.401,300.0,NaN,4400.0,4753.699,NaN,NaN
25249,08N03939,08N0643,39629.0,47.526360,-116.516609,111100.0,7960.0,768.666667,15559.0,3952.000,5165.000,100.0,68.19,59037.0,4938.365,0.93,1945.65
14240,91P01654,91P0274,32843.0,22.122675,-159.320541,NaN,1270.0,NaN,50.7,1138.272,267.355,600.0,NaN,4800.0,39.783,NaN,NaN
14237,91P01651,91P0273,32843.0,21.881857,-159.434708,NaN,1880.0,NaN,97.5,4737.456,2019.746,400.0,NaN,22800.0,6078.699,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15118,91P06085,91P0969,33420.0,64.850945,-147.836639,30000.0,NaN,8.000000,78.0,3266.520,996.505,100.0,NaN,5550.0,17.673,NaN,NaN
8251,87P00225,87P0041,31594.0,35.527260,-109.882904,NaN,350.0,NaN,120.9,13743.432,342.700,NaN,NaN,NaN,NaN,NaN,NaN
7631,86P01994,86P0337,31503.0,48.291531,-116.542725,NaN,1690.0,NaN,66.3,4404.792,260.064,NaN,NaN,1300.0,345.000,NaN,NaN
4006,83P00213,83P0047,29952.0,46.271942,-88.803391,NaN,920.0,NaN,54.6,96.192,29.166,NaN,NaN,7950.0,0.000,NaN,NaN
13605,90P06511,90P1059,32905.0,46.619164,-88.932007,NaN,NaN,NaN,0.0,240.480,29.166,NaN,NaN,800.0,44.150,NaN,NaN

Several mission satelites exist, and so, there are multiple data colections that have band values for the same data point in this dataset NCSS.csv.

However, to extract them from the TerrasenseTK, one must perform request to the SentinelHub, which are monthly limited according to a subscription pack.

Therefore, to reduce the amount of requests, this NCSS.csv dataset will be split into 5 different datasets, each made for one of the available and compatible DataCollections implemented in TerrasenseTK.

This data specilization results in prunning the dataset from the lifespan of each satelite.

- For Landsat 1-5 MSS mission: July 1972 - October 1992 & June 2012 - January 2013

- For Landsat 4-5 TM mission: July 1982 - May 2012

- For Landsat 7 ETM+ mission: April 1999 - PRESENT

- For Landsat 8-9 OLI mission: February 2013 - PRESENT

- For Sentinel-S2 mission: January 2017 - PRESENT

Drop rows with data below the oldest expedition

In [16]:
import datetime

def int_to_datetime(value):
    reference_date = datetime.date(1899, 12, 30)
    delta = datetime.timedelta(days=value)
    result_date = reference_date + delta
    return result_date

def test():
    assert int_to_datetime(36348) == datetime.date(1999, 7, 7)
    assert int_to_datetime(24016) == datetime.date(1965, 10, 1)
    assert int_to_datetime(20349) == datetime.date(1955, 9, 17)
    assert int_to_datetime(41240) == datetime.date(2012, 11, 27)
    assert int_to_datetime(19955) == datetime.date(1954, 8, 19)
    assert int_to_datetime(30498) == datetime.date(1983, 7, 1)
    assert int_to_datetime(39337) == datetime.date(2007, 9, 12)
    assert int_to_datetime(41044) == datetime.date(2012, 5, 15)

# Convert observation date to YYYY-MM-DD
df['date'] = df['date'].apply(int_to_datetime)
df['date'] = pd.to_datetime(df['date'])
# Remove all prior to 1972-07-01
df = df[df['date'] >= '1972-07-01']
df

/var/folders/ww/1lqc8cld6w36nm_7m2nv8sv00000gn/T/ipykernel_9013/4094951587.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].apply(int_to_datetime)
/var/folders/ww/1lqc8cld6w36nm_7m2nv8sv00000gn/T/ipykernel_9013/4094951587.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

,labsampnum,pedlabsampnum,date,latitude,longitude,C,N,P,K,Ca,Mg,S,Cu,Fe,Mn,Mo,Zn
0,00P00001,00P0001,1999-07-07,40.768703,-73.979195,68700.0,2820.0,761.583333,5364.9,2366.740,1904.316,1000.0,70.88,14573.0,160.780,NaN,116.08
14245,91P01659,91P0275,1989-12-01,22.032131,-159.740814,NaN,1260.0,NaN,0.0,3046.080,685.401,300.0,NaN,4400.0,4753.699,NaN,NaN
25249,08N03939,08N0643,2008-06-30,47.526360,-116.516609,111100.0,7960.0,768.666667,15559.0,3952.000,5165.000,100.0,68.19,59037.0,4938.365,0.93,1945.65
14240,91P01654,91P0274,1989-12-01,22.122675,-159.320541,NaN,1270.0,NaN,50.7,1138.272,267.355,600.0,NaN,4800.0,39.783,NaN,NaN
14237,91P01651,91P0273,1989-12-01,21.881857,-159.434708,NaN,1880.0,NaN,97.5,4737.456,2019.746,400.0,NaN,22800.0,6078.699,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15118,91P06085,91P0969,1991-07-01,64.850945,-147.836639,30000.0,NaN,8.000000,78.0,3266.520,996.505,100.0,NaN,5550.0,17.673,NaN,NaN
8251,87P00225,87P0041,1986-07-01,35.527260,-109.882904,NaN,350.0,NaN,120.9,13743.432,342.700,NaN,NaN,NaN,NaN,NaN,NaN
7631,86P01994,86P0337,1986-04-01,48.291531,-116.542725,NaN,1690.0,NaN,66.3,4404.792,260.064,NaN,NaN,1300.0,345.000,NaN,NaN
4006,83P00213,83P0047,1982-01-01,46.271942,-88.803391,NaN,920.0,NaN,54.6,96.192,29.166,NaN,NaN,7950.0,0.000,NaN,NaN
13605,90P06511,90P1059,1990-02-01,46.619164,-88.932007,NaN,NaN,NaN,0.0,240.480,29.166,NaN,NaN,800.0,44.150,NaN,NaN

Dataframe creation per available satellite

In [17]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d').dt.date

mask1 = (df['date'] >= datetime.date(1972, 7, 1)) & (df['date'] <= datetime.date(1992, 10, 31))
mask2 = (df['date'] >= datetime.date(2012, 6, 1)) & (df['date'] <= datetime.date(2013, 1, 31))

time_interval = [
    mask1 | mask2,
    (df['date'] >= datetime.date(1982, 7, 1)) & (df['date'] <= datetime.date(2012, 5, 31)),
    (df['date'] >= datetime.date(1999, 4, 1)),
    (df['date'] >= datetime.date(2013, 2, 1)),
    (df['date'] >= datetime.date(2017, 1, 1))
    ]

MSS = df[time_interval[0]]
TM = df[time_interval[1]]
ETM = df[time_interval[2]]
OLI = df[time_interval[3]]
S2 = df[time_interval[4]]

for df in (MSS, TM, ETM, OLI, S2):
    print(df.shape)

(3680, 17)
(4102, 17)
(1078, 17)
(177, 17)
(162, 17)

/var/folders/ww/1lqc8cld6w36nm_7m2nv8sv00000gn/T/ipykernel_9013/4031233757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d').dt.date

Counting nutrients per df

In [23]:
data = []
for df in (MSS, TM, ETM, OLI, S2):
    data.append(df[nutrients].notnull().sum())
pd.DataFrame(data, index=['MSS', 'TM', 'ETM', 'OLI', 'S2'])

        C     N     P     K    Ca    Mg     S   Cu    Fe    Mn   Mo   Zn
MSS   798  2462   516  3673  3670  3673   261  223  1311  2098   43  174
TM   1841  2999  1544  4088  4088  4088  1181  927  2165  2969  633  840
ETM  1072  1071  1073  1074  1074  1074  1069  855  1042  1077  751  810
OLI   177   177   177   177   177   177   177  168   157   177  168  168
S2    162   162   162   162   162   162   162  155   142   162  155  155

- MSS is old and has different resolutions.
- TM looks okay but only has 1.018 EOPatches from the 4.088.
- ETM OLI and S2 have little data.